<h1>Lista de fornecedores</h1>

<div>
  <% @providers.each do |provider| %>
  <li>
    <%= link_to provider.name, provider %>
  </li>
  <% end %>
</div>
</br>

<%= link_to 'Novo', new_provider_path %>
