<div>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product %></li>
  <% end %>
</div>
</br>

<%= link_to t('actions.new'), new_product_path, class: 'btn btn-primary btn-lg' %>
