<p>
<strong>Produto:</strong>
  <%= @sale.product.name %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @sale.quantity %>
</p>
<p>
  <strong>Data do registro:</strong>
  <%= @sale.created_at.strftime("%d %b. %Y") %>
</p>

<%= link_to 'Voltar', reports_index_path %>
