<h1>Relatório de vendas</h1>
<p>
  <strong>Total de produtos vendidos:</strong>
  <%= @sale_total %>
</p>
<hr>
<p>
  <strong>Dinheiro em caixa:</strong>
  <%= @counts %>
</p>

<%= link_to 'Ir para o registrador', new_sale_path %>


